<template>
  <div class="hello">
    <img src="~@/assets/logo.png" width="100px">
    <Example />
  </div>
</template>

<script>
import Example from './Example'
export default {
  name: 'hello',
  components: {
    Example
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
